<!DOCTYPE HTML>
<html>

<head>
  <title>gulp-requirejs-boilerplate demo</title>
  <meta name="viewport" content="width=device-width,user-scalable=no">
  <meta name="robots" content="nofollow" />
  <link rel="icon" href="/example/static/image/favicon.ico">
  <link rel="stylesheet" href="/example/static/css/app.css" type="text/css">
  <!-- build:js /example/static/js/lib.js -->
  <script src="/example/static/js/lib/require.js" type="text/javascript"></script>
  <script src="/example/static/js/require.config.js" type="text/javascript"></script>
  <!-- endbuild -->
</head>

<body>
  <h1>Hello , gulp-requirejs-boilerplate!</h1>
  <script src="/example/static/js/app.js" type="text/javascript"></script>
</body>

</html>